* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
body {
    
    font-family: monospace;
    color: #373535;   
    font-size: 18px;  
    text-align: center;
    padding: 50px ;

}
header {
    padding: 20px 35px;
    background-color:#00aeff76;
    font-family: monospace; 
    text-align: left;
    
  } 
  header h1 {
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    display: inline;
  }
  header a {
    text-decoration: none;
    color: #373535;
    
  }
  header nav {
    float: right;
    margin: 7px 0;

  }
  header nav ul li {
    display: inline;
  }
  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;

  }

section{
    max-width: 100%;
    max-height: 100%;
}
 .Resume {
    padding: 200px;
    position: relative;
    top: 100px;
 }
 section{
    max-width: 100%;
    max-height: 100%;
}
 .Contact {
    position: relative;
    top: 200px;
    font-size: larger;
 }


.intro {
    font-family: monospace;
    font-size: 30px;
    text-align: center;
}




  .work body {
    padding: 100px 20px;
  }




img {
    max-width: 100%;
    max-height: 100%;
   }
   .self {
    height: 200px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
   }
img {
    max-width: 100%;
    max-height: 100%;
   }
   .horiseon {
    height: 300px;
    width: 600px;
    float: right;
    flex-wrap: wrap;
   }
img {
    max-width: 100%;
    max-height: 100%;
   }
   .runbuddy {
    height: 400px;
    width: 800px;
    

   }
img {
    max-width: 100%;
    max-height: 100%;
   }
   .american {
    height: 300px;
    width: 600px;
    float: right;
    position: relative;
    flex-wrap: wrap-reverse;
    
   }
img {
    max-width: 100%;
    max-height: 100%;
}
  .linkedin {
   
    height: 1000px;
  }
 

footer {
    font-family: monospace;
    background-color:#00aeff76;
    width: 100%;
    padding: 40px 35px;
}